
.alert.alert-warning.alert-dismissible.mt-4.fade.show{:role => "alert"}
  = link_to title_doc_path, class: 'alert-link' do
    = fa_icon 'download'
    = t('shared.download')
    документ на диск
  %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
    %span{"aria-hidden" => "true"} ×
.heading.mt-4
  %h4.text-center МІНІСТЕРСТВО ОСВІТИ І НАУКИ УКРАЇНИ
  %h4.text-center ЧЕРКАСЬКИЙ НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ
  %h4.text-center  імені БОГДАНА ХМЕЛЬНИЦЬКОГО
.sub-heading.mt-4
  %h5.text-center Факультет обчислювальної техніки, інтелектуальних та управляючих систем
.sub-heading.mt-4
  %h5.text-center Кафедра програмного забезпечення автоматизованих систем
.title.mt-5.pt-5
  %h2.text-center Журнал звітів з лабораторних робіт
  %h2.text-center з дисципліни 'Безпека програм та даних'
.row.mt-5.pt-5.font-weight-bold
  .col-6.text-left
    %p Перевірив:
    %p доц. Супруненко О.О.
  .col-6.text-right
    %p Виконав:
    %p студент Бабін М. Ф.
    %p група КЕ-15
.row.mt-5.pt-5.font-weight-bold
  .col-12.text-center
    Черкаси  2018