%h5.text-center.mt-4#process= t('nav.process')
.report
  %p Нормою світовою практики є надання послуг у вигляді «аутсорсингу» та «аутстафінгу». В Україні дані послуги не на стільки поширені тому їх правове регулювання на даний момент ще недостатнє та недосконале.
  %p Законодавтсво чітко не визначає термін «аутстафінг» проте, ст. 39 ЗУ «Про зайнятість населення» передбачений такий вид діяльності, як «діяльність суб’єктів господарювання, які наймають працівників для подальшого виконання ними роботи в Україні в іншого працедавця», що є тотожним поняттю аутстафінгу. Також, п.п. 14.1.183. ПКУ містить визначення послуги з надання персоналу — господарська або цивільноправова угода, відповідно до якої особа, що надає послугу (резидент або нерезидент), направляє у розпорядження іншої особи (резидента або нерезидента) одну або декількох фізичних осіб для виконання визначених цією угодою функцій.
  %p В свою чергу визначення аутсорсингу наведено в розд. 4 Національного класифікатора України «Класифікація видів економічної діяльності» ДК 009:2010,«аутсорсинг» – угода, згідно з якою замовник доручає підряднику виконати певні завдання, зокрема, частину виробничого процесу або повний виробничий процес, надання послуг щодо підбору персоналу, допоміжні функції. Таким чином, аутсорсинг – це передача однією компанією певних бізнеспроцесів, функцій або конкретних завдань на виконання іншій компанії (аутсорсеру), що спеціалізується у відповідній галузі.
  %p
    ІТ, як відомо, досить популярний бізнес в Україні, який з кожним днем стає більш привабливим для іноземного інвестора. Не секрет, що початківці ІТ індустрії мріють про інвестора та підтримку свого проекту, який з часом можливо змінив би світ на краще.
  %p
    Присутність на ринку іноземного інвестора, який не проти працювати з талановитими спеціалістами, щоденно зростає. Пропозиція перевищує попит, а тому, в переважній більшості випадків, іноземний інвестор часто обирає дрібні та середні проекти, які уже мають певні обсяги продажів та є перспективними.
  %p
    Одним із важливих елементів безпеки Вашого ІТ бізнесу є його внутрішня структура. Окрім генерування ідей та прорахунку бізнес плану, Вам необхідно пройти ряд нескладних формальностей пов’язаних з реєстрацією діяльності. Легалізація проекту забезпечить Вам роботу в рамках правового поля. Погодьтеся, інвестор працювати з сумнівним контрагентом не наважиться. До того ж, є висока вірогідність того, що з часом, Вашою діяльністю можуть зацікавитися правоохоронні та контролюючі органи, а легальна структура та правильно оформлені відносини допоможуть уникнути негативного розвитку подій.
  %p У випадку безпосередньої участі іноземного інвестора, як правило, не створюється робочих місць, перевага надається співпраці з фізичними особами – підприємцями (ФОП). Така форма організації роботи нерезидента є досить вигідною для нього з точки зору оптимізації податкового навантаження та витрат на утримання персоналу. В цьому контексті, може розвиватися і так форма співпраці, коли один з ФОПів є project – менеджером та отримує і розпоряджається значною частиною коштів, може бути орендарем офісу та обладнання, здавати його в суборенду, тощо.
  %p За такої моделі переваги для Вас є очевидними, однак є і ризик того, що контролюючими органами дані відносини можуть трактуватися як трудові з можливістю притягнення до відповідальності за ухилення від сплати податків та приховування трудових відносин. Хоча, за умови правильного оформлення документів, такі ризики суттєво зменшуються.
  %p За варіанту аутсорсингу обов’язковим є укладення договору з нерезидентом. В подальшому українська компанія укладає відповідні договори з девелоперами. Так, замовник сплачує кошти одній компанії, а не кожному розробнику окремо. Однак, за такої форми ведення бізнесу зростуть Ваші адміністративні витрати. Крім того, на виконавців Ви не зможете поширити вимоги законодавства нерезидента, які можуть бути поширені на Вас у відповідності до умов договору. Якщо Ви є виконавцем, то така умова загалом є позитивною для Вас, адже Ви будете працювати на українську компанію в рамках національного права.
  %p У випадку, якщо Ваша компанія при укладенні договору з замовником надає послуги силами власних працівників, ризики щодо притягнення до відповідальності за ухилення від сплати податків зі сторони контролюючих органів зменшуються.
  %p Маєте врахувати те, що така модель є найбільш витратною, так як дохід найманих працівників не може бути оподаткований по спрощеній системі. Крім того, Вам, як роботодавцю, потрібно буде сплачувати обов’язкові збори та єдиний внесок на загальнообов’язкове державне соціальне страхування за кожного працівника.
  %p Також у законі України «Про основи національної безпеки України» та в «Доктрині інформаційної безпеки України» згадуються поняття про «комп’ютерна злочинність» та «комп’ютерний тероризм», проте визначення цих термінів в законі немає. В законі «Про боротьбу з тероризмом» поняття «комп’ютерний тероризм» не висвітлюється зовсім, а те що до нього відноситься називається «технологічним тероризмом». Для покращення нормативно-правової бази у сфері кіберзлочинності Верховною Радою України було розглянуто законопроекти: «Про основні засади забезпечення кібербезпеки України» (реєстр. №2126а від 19.05.2015) та «Про внесення змін до деяких законів України щодо посилення відповідальності за вчинені правопорушення у сфері інформаційної безпеки та боротьби з кібезлочинністю» (реєстр. № 2133а від 19.06.2015). В законопроекті № 2126а визначили терміни «кіберзлочинність» та «кібертероризм».
  %p 
    %strong Документація:
  %ul
    %li
      Розпорядження КМУ
      %a{href: 'http://zakon.rada.gov.ua/laws/show/247-2002-%D1%80'} 
        "Про затвердження Концепції легалізації програмного забезпечення та боротьби з нелегальним його використанням" від 15 травня 2002 р.
    %li 
      Закон України 
      %a{href: 'http://search.ligazakon.ua/l_doc2.nsf/link1/Z0334_0.html#'}
        «Про оподаткування прибутку підприємств» від 28.12.94 р. № 334/94-ВР.
    %li
      Закон України
      %a{href: 'http://search.ligazakon.ua/l_doc2.nsf/link1/Z970400.html#'}
        «Про збір на обов'язкове державне пенсійне страхування» від 26.06.97 р. № 400/97-ВР.
    %li
      Закон України
      %a{href: 'http://search.ligazakon.ua/l_doc2.nsf/link1/T001587.html#'} 
        «Про розповсюдження примірників аудіовізуальних творів, фонограм, відеограм, комп'ютерних програм, баз даних» від 23.03.2000 р. № 1587-III.
    %li
      Закон України
      %a{href: 'http://search.ligazakon.ua/l_doc2.nsf/link1/T379200.html#'}
        «Про авторське право і суміжні права» від 23.12.93 р. № 3792-XII.
    %li
      Постанова ВРУ
      %a{href: 'http://zakon.rada.gov.ua/laws/show/4538-17'}
        Про Рекомендації парламентських слухань на тему: "Створення в Україні сприятливих умов для розвитку індустрії програмного забезпечення" від 1 липня 2012р.
    %li
      Указ Президента України. 
      %a{href: 'http://zakon.rada.gov.ua/laws/show/96/2016'}
        «Про Стратегію кібербезпеки України». – Відомості Верховної Ради – 2016. – №96/2016
    %li
      Кримінальний кодекс України. Розділ ХVI «Злочини в сфері використання електронно-обчислювальних машин (комп’ютерів), систем та комп’ютерних мереж і мереж електрозв’язку» – Відомості Верховної Ради (ВВР) – 2001. – №25-26, ст. 131.
%h5.text-center.mt-4#conclusion= t('nav.conclusion')
.report
  %p Наведені в даній лабораторній роботі посилання та супроводжуючий текст чітко формують можливі складнощі, які можуть спіткати керівника аутсорсингової компанії з розробки ПЗ.
  %p В зв'язку з цим Верховною Радою, Президентом та Кабінетом Міністрів України були видані наведені нормативно-правові акти.
  %p Незважаючи на значне поширення аутсорсингу та аутстафінгу в Україні на 2018 рік їх правове врегулювання потребує значних зусиль для удосконалення.
  %p Але, керівник, який знає та розуміє наведені в ЛР акти, а також дотримується їх має певний (хоч і не ідеальний) захист з боку держави.
  %p Також для керівника повинні бути важливими відомості про оподаткування та співпрацю з працівниками, які є ФОПами. 
  %p Таким чином зібрані законодавчі та нормативні акти дозволять уникнути організаційних труднощів, фінансових та інших законодавчих санкцій у керуванні компанією з розробки ліцензованого ПЗ.