%ul#pills-tab.nav.nav-pills.mb-3{:role => "tablist"}
  %li.nav-item
    %a#pills-caesar-res-tab.nav-link.active{"aria-controls" => "pills-home", "aria-selected" => "true", "data-toggle" => "pill", :href => "#pills-caesar-res", :role => "tab"}= t('lab3.caesars')
  %li.nav-item
    %a#pills-xor-res-tab.nav-link{"aria-controls" => "pills-profile", "aria-selected" => "false", "data-toggle" => "pill", :href => "#pills-xor-res", :role => "tab"}= t('lab3.xor')
#pills-tabContent.tab-content
  #pills-caesar-res.tab-pane.fade.show.active{"aria-labelledby" => "pills-caesar-res-tab", :role => "tabpanel"}
    = render 'labs/labs/lab_3/caesars'
  #pills-xor-res.tab-pane.fade{"aria-labelledby" => "pills-xor-res-tab", :role => "tabpanel"}
    = render 'labs/labs/lab_3/xor'