/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome";
@import "default";

.container[role='main'] {
  min-height: 800px;
}

body {
  padding-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 3px;
}

p {
  margin-bottom: 3px;
}

.nav-item {
  cursor: pointer;
}

.report p {
  text-indent: 3rem;
}

.sticky {
  position: sticky;
  top: 0;
}

.form-check-inline {
  padding-top: 5px;
}
