@import "bootstrap";
@import "font-awesome";
@import "default";

.container[role='main'] {
  min-height: 800px;
}

body {
  padding-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 3px;
}

p {
  margin-bottom: 3px;
}

.nav-item {
  cursor: pointer;
}

.report p {
  text-indent: 3rem;
}

.sticky {
  position: sticky;
  top: 0;
}

.form-check-inline {
  padding-top: 5px;
}

.row .col-12.with-img { 
  text-align: center;
  border-bottom: 1px solid #aaa;
  img {
    margin: 5px;
    width: 600px;
  }
}
